<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dorukaneskiceri.kotlinmessenger">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registerlogin.SplashActivity">
<!--            android:theme="@style/SplashActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messages.ChatActivity"
            android:parentActivityName=".messages.LatestMessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.LatestMessagesActivity" />
        </activity>
        <activity android:name=".messages.NewMessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.LatestMessagesActivity" />
        </activity>
        <activity android:name=".messages.LatestMessagesActivity">
        </activity>
        <activity android:name=".registerlogin.RegisterActivity" />
        <activity android:name=".registerlogin.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseInstanceId"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>